{% load static %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/styles.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/core.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/components.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/custom_css.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/tag.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "backend_assets/css/toastr.css" %}" rel="stylesheet" type="text/css">
<style type="text/css">
    .color_pick {
        height: 50px;
        width: 50px;
    }

    .dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
    }
</style>