	<div class="sidebar-category sidebar-category-visible">
	<div class="category-content no-padding">
		<ul class="navigation navigation-main navigation-accordion">

			<!-- Main -->
			<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
			<li class="active"><a href="{% url "backend:home" %}"><i class="icon-home4"></i> <span> Dashboard </span></a></li>

			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>General Configuration</span></a>
				<ul>
					<li class="nav_items"><a href="{% url "backend:venue" %}"><i class="icon-home4"></i> <span>Venue</span></a></li>
					<li class="nav_items"><a href="{% url "backend:course" %}"><i class="icon-home4"></i> <span>Course</span></a></li>
					<li class="nav_items"><a href="/sub_category"><i class="icon-home4"></i> <span>Batch</span></a></li>
				</ul>
			</li>

            <li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Trainer</span></a>
				<ul>
					<li class="nav_items"><a href="/category"><i class="icon-home4"></i> <span>Add New Trainer</span></a></li>
					<li class="nav_items"><a href="/sub_category"><i class="icon-home4"></i> <span>Trainer List</span></a></li>
				</ul>
			</li>


            <li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Trainee</span></a>
				<ul>
					<li class="nav_items"><a href="/category"><i class="icon-home4"></i> <span>Add New Trainee</span></a></li>
					<li class="nav_items"><a href="/sub_category"><i class="icon-home4"></i> <span>Trainee List</span></a></li>
				</ul>
			</li>

            <li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Attendance</span></a>
				<ul>
					<li class="nav_items"><a href="/category"><i class="icon-home4"></i> <span>Trainer Attendance</span></a></li>
					<li class="nav_items"><a href="/category"><i class="icon-home4"></i> <span>Trainer Attendance List</span></a></li>
					<li class="nav_items"><a href="/sub_category"><i class="icon-home4"></i> <span>Trainee Attendance List</span></a></li>
				</ul>
			</li>


			<li class="nav_items"><a href="/brand"><i class="icon-home4"></i> <span>Brand</span></a></li>


			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Product</span></a>
				<ul>
					<li class="nav_items"><a href="/new_product">New Product</a></li>
				</ul>
			</li>

			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>POS</span></a>
				<ul>
					<li class="nav_items"><a href="layout_navbar_fixed.html">POS</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Invoice</a></li>
				</ul>
			</li>

			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Inventory</span></a>
				<ul>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Product</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Product List</a></li>
				</ul>
			</li>


			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Cash Book</span></a>
				<ul>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Cash Book Income Category</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Cash Book Expense Category</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Cash Book Income Entry</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Cash Book Expense Entry</a></li>
				</ul>
			</li>

			<li class="nav_items">
				<a href="#"><i class="icon-stack2"></i> <span>Reports</span></a>
				<ul>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Cash Book Report</a></li>
					<li class="nav_items"><a href="layout_navbar_fixed.html">Deliver Report</a></li>
				</ul>
			</li>





		</ul>
	</div>
</div>
